html, body{
margin: 0px;
padding: 0px;
font-family: Verdana,Tahoma;
height: 100%;
}

/* ESCORE admin style */
#adminlogo{
background-image: url('../images/admin/adminlogo.jpg');
float: left;
width: 683px;
height: 65px;
}
#topbackground{
background-image: url('../images/admin/adminlogo_1PXL.jpg');
height: 65px;
}
#loggeduserinfo{
text-align: right;
color: white;
padding-top: 35px;
padding-right: 5px;
font-size: 10px;
font-family: Tahoma,Verdana;
}
#infotop{
background-color: #1C2254; 
background-image: url('../images/admin/info_top.jpg');
background-repeat: no-repeat;
height: 22px;
text-align: right;
}

/* new admin menu */
tr.topcategory{
height: 28px;
color: #FFFFFF;
font-family: Verdana,Tahoma;
font-size: 12px;
font-weight: bold;
background-color: #686868;
}
tr.topcategory td{
padding-left: 15px;
width: 135px;
cursor: pointer;
}
td.sub1_category1{
padding-left: 12px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
background-color: #979797;
font-size: 11px;
color: #FFFFFF;
font-family: "Arial CE",Tahoma,Verdana; 
font-weight: bold;
}
td.sub1_category2{
padding-left: 12px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
background-color: #979797;
font-size: 11px;
font-weight: normal;
font-family: "Arial CE",Tahoma,Verdana;
}
td.sub1_category2 a{
color: #FFFFFF;
text-decoration: none;
}
td.sub2_category{
padding-left: 16px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
background-color: #DBDBDB;
font-size: 11px;
font-weight: normal;
font-family: "Arial CE",Tahoma,Verdana;
}
td.sub2_category a{
color: #5A5A5A;
text-decoration: none;
}
#divoutermenu{
padding-top: 1px;
padding-bottom: 1px;
}
#divinnermenu{
height: 28px;
background-color: #686868;
}
table.submenu{
/*border-bottom-style: solid;
border-bottom-width: 2px;
border-left-style: solid;
border-left-width: 1px;
border-right-style: solid;
border-right-width: 1px;
border-color: #000000;*/
}

/* admin object list */
table.a_main{
width: 100%;
font-family: Tahoma,Verdana, "Arial CE";
}
tr.a_title{
height: 27px;
color: #FFFFFF;
background-color: #2160FD;
}
tr.a_title td{
padding-left: 24px;
font-size: 12px;
font-weight: bold;
}

tr.a_title td img{
vertical-align: middle;
padding-right: 5px;
}

tr.a_category{
height: 26px;
font-weight: bold;
font-size: 11px;
background-color: #DBDBDB;
color: #535353;
}

tr.a_list1{
height: 27px;
color: #757575;
font-size: 11px;
font-weight: bold;
}

tr.a_list2{
height: 27px;
color: #757575;
font-size: 11px;
font-weight: bold;
background-color: #F1F1F1;
}

tr.a_list1 td,tr.a_list2 td{
padding-left: 5px;
padding-right: 5px
}

tr.a_category td{
padding-left: 5px;
padding-right: 5px;
text-align: center;
}

#a_if_blockeduser{
text-decoration: line-through;
}

#a_if_currentlogged{
color: green;
font-weight: bold;
}

.a_active{
color: green;
font-weight: bold;
text-decoration: none;
}

.a_inactive{
color: red;
font-weight: bold;
text-decoration: none;
}

.a_blocked{
color: red;
font-weight: bold;
}

.a_no_blocked{
color: green;
font-weight: bold;
}

td.a_action{
font-weight: bold;
}

td.a_action a{
text-decoration: none;
}

td.a_action a.a_edit{
color: #3F69BF;
}

td.a_action a.a_delete{
color: #000000;
}

td.a_action a.a_changepass{
color: #24295B;
}

/* dodawanie elementow */
tr.a_add{
background-color: #DBDBDB;
color: #535353;
font-size: 12px;
}

td.a_add_title{
text-align: right;
width: 10%;
padding: 5px;
}

tr.a_add td{
padding: 5px;
}

tr.a_add_active{
background-color: #979797;
}

tr.a_add_active td{
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
padding: 5px;
}

input.a_inputtext{
width: 280px;
font-family: Tahoma, Verdana,"Arial CE";
}

select.a_select{
font-family: Tahoma, Verdana,"Arial CE";
}

textarea.a_inputtextarea{
width: 280px;
height: 5em;
font-size: 12px;
font-family: Tahoma, Verdana,"Arial CE";
}

.a_submit{
color: #FFFFFF;
font-weight: bold;
background-color: #979797;
border: none;
cursor: pointer;
}

input.a_inputtextpos{
width: 50px;
font-family: Tahoma, Verdana,"Arial CE";
}

#bottomline{
background-image: url('../images/admin/bottom_1_PXL.jpg');
background-repeat: repeat-x;
height: 1px;
margin-left: 10px;
margin-right: 10px;
}

#footertext{
color: #8F8F8F;
font-size: 11px;
padding-left: 20px; 
padding-top: 7px;
font-family: Tahoma,Verdana,"Arial CE";
padding-bottom: 3px;
}

/* end admin style */