html, body{
margin: 0px;
padding: 0px;
font-family: Verdana,Tahoma;
height: 100%;
}

form{ margin: 0; padding: 0}

img{
border: 0px;
}

a.prevnext{
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    padding: 4px;
}

a.activepagefalse{
    color: #000000;
    font-size: 12px;
    padding: 4px;
    font-weight: bold;
}

a.activepagetrue{
    color: #000000;
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
}

div#pages{
font-size: 11px;
margin-top: 10px;
}

/* ESCORE admin style */

#loggeduserinfo{
text-align: right;
color: white;
padding-top: 35px;
padding-right: 5px;
font-size: 10px;
font-family: Tahoma,Verdana;
}
#infotop{
background-color: #1C2254; 
background-image: url('../images/admin/info_top.jpg');
background-repeat: no-repeat;
height: 22px;
text-align: right;
}

/* new admin menu */
tr.topcategory{
height: 28px;
color: #FFFFFF;
font-family: Verdana,Tahoma;
font-size: 12px;
font-weight: bold;
background-color: #686868;
}
tr.topcategory td{
padding-left: 15px;
width: 135px;
cursor: pointer;
}

td.sub1_category1{
padding-left: 12px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
background-color: #979797;
font-size: 11px;
color: #FFFFFF;
font-family: "Arial CE",Tahoma,Verdana; 
font-weight: bold;
}
td.sub1_category2{
padding-left: 12px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
background-color: #979797;
font-size: 11px;
font-weight: normal;
font-family: "Arial CE",Tahoma,Verdana;
}
td.sub1_category2 a{
color: #FFFFFF;
text-decoration: none;
}

td.sub1_category2 a:hover{
text-decoration: underline;
}
td.sub2_category{
padding-left: 16px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
background-color: #DBDBDB;
font-size: 11px;
font-weight: normal;
font-family: "Arial CE",Tahoma,Verdana;
}
td.sub2_category a{
color: #5A5A5A;
text-decoration: none;
}

td.sub2_category a:hover{
text-decoration: underline;
}
#divoutermenu{
padding-top: 1px;
padding-bottom: 1px;
}
#divinnermenu{
height: 28px;
background-color: #686868;
}
table.submenu{
/*border-bottom-style: solid;
border-bottom-width: 2px;
border-left-style: solid;
border-left-width: 1px;
border-right-style: solid;
border-right-width: 1px;
border-color: #000000;*/
}

/* admin object list */
table.a_main{
width: 100%;
font-family: Tahoma,Verdana, "Arial CE";
}
tr.a_title{
height: 27px;
color: #FFFFFF;
background-color: #2160FD;
}
tr.a_title td{
padding-left: 24px;
font-size: 12px;
font-weight: bold;
}

tr.a_title td img{
vertical-align: middle;
padding-right: 5px;
}

tr.a_category{
height: 26px;
font-weight: bold;
font-size: 11px;
background-color: #DBDBDB;
color: #535353;
}

tr.a_list1{
height: 27px;
color: #757575;
font-size: 11px;
font-weight: bold;
}

tr.a_list2{
height: 27px;
color: #757575;
font-size: 11px;
font-weight: bold;
background-color: #F1F1F1;
}

tr.a_list1 td,tr.a_list2 td{
padding-left: 5px;
padding-right: 5px;
}

tr.a_category td{
padding-left: 5px;
padding-right: 5px;
text-align: center;
}

#a_if_currentlogged{
color: green;
font-weight: bold;
}

.a_active{
color: green;
font-weight: bold;
text-decoration: none;
}

.a_inactive{
color: red;
font-weight: bold;
text-decoration: none;
}

.a_blocked{
color: red;
font-weight: bold;
}

.a_no_blocked{
color: green;
font-weight: bold;
}

td.a_action{
font-weight: bold;
}

td.a_action a{
text-decoration: none;
}

td.a_action a.a_edit{
color: #3F69BF;
}

td.a_action a.a_delete{
color: #000000;
}

td.a_action a.a_changepass{
color: #24295B;
}

/* dodawanie elementow */
tr.a_add{
background-color: #DBDBDB;
color: #535353;
font-size: 12px;
}

td.a_add_title{
text-align: right;
width: 10%;
padding: 5px;
}

tr.a_add td{
padding: 5px;
}

tr.a_add_active{
background-color: #979797;
}

tr.a_add_active td{
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
padding: 5px;
}

input.a_inputtext{
width: 280px;
font-family: Tahoma, Verdana,"Arial CE";
}

select.a_select{
font-family: Tahoma, Verdana,"Arial CE";
}

textarea.a_inputtextarea{
width: 280px;
height: 5em;
font-size: 12px;  
font-family: Tahoma, Verdana,"Arial CE";
}

.a_submit{
color: #FFFFFF;
font-weight: bold;
background-color: #979797;
border: none;
cursor: pointer;
}

input.a_inputtextpos{
width: 50px;
font-family: Tahoma, Verdana,"Arial CE";
}
#bottomline{
background-image: url('../images/admin/bottom_1_PXL.jpg');
background-repeat: repeat-x;
height: 1px;
margin-left: 10px;
margin-right: 10px;
}
#footertext{
color: #8F8F8F;
font-size: 11px;
padding-left: 20px; 
padding-top: 7px;
font-family: Tahoma,Verdana,"Arial CE";
padding-bottom: 3px;
}


.above {
	position: fixed;
}
/*  end login form */
.closebutton {
        width: 41px;
	float: right;
	background-image: url('../images/close_button.jpg');
        background-repeat: no-repeat;
        margin-top: 3px;
        margin-right: 3px;
        height: 36px;
	display: inline;
        cursor: pointer;
        margin-bottom: 5px;
}
.tbll {
	margin-left: 10px;
	margin-top: 10px;
	background-color: white;
	width: 348px;
	overflow: auto;
	margin-bottom: 30px;
	min-height: 12px;
}


<!--[if IE 5]>
According to the conditional comment this is Internet Explorer 5<br />

body { background: url(hack) fixed; }
	.above, .below { position: absolute;
	relative; height: auto; width: 250px; background-color: #6F7C8C; display: none; border: 1px solid #0180E9;
	margin-top:  50px;
	margin-left: 40%;
	}
.above {
	position: fixed;
top: expression(
	offset = 0 + parseInt(document.body.currentStyle.paddingTop) + parseInt(document.body.currentStyle.marginTop),
	document.documentElement.scrollTop + offset + 'px'
)
}
.below {
	position: fixed;
top: expression(
 offset = 0 + parseInt(document.body.currentStyle.paddingBottom) + parseInt(document.body.currentStyle.marginBottom),
document.documentElement.clientHeight - this.offsetHeight - offset + document.documentElement.scrollTop + 'px'
);
}
<![endif]-->
/* end admin style */

/* company start */

	.cmp{
		padding-top: 28px;
	}

	.cmp_first{
		padding-top: 0;
	}

	.cmp_desc{
	padding-top: 5px;
	clear: both;
	}

	.cmp_desc p{
		margin: 0;
	}

	.cmp_logo_title{
	float: left;
	display: inline;
	}

	.cmp_catalogue{
	float: right;
	display: inline;
	}

	span.cmp_name{
	color: #6f7c8c;
	font-size: 12pt;
	margin-left: 5px;
	}

	.cmp_image{
	padding-top: 14px;
	}

	.cmp_left_image{
	margin-left: 1px;
	float:left;
	width: 149px;
	height: 129px;
	overflow: hidden;
	}

	.cmp_vert_line{
	margin-top: 28px;
	width: 100%;
	overflow: hidden;
	height: 1px;
	font-size: 1px;
	background-color: #b1b1b1;
	}

	.cmp_right_image{
		float:right;
		width: 201px;
		height: 129px;
		overflow: hidden;
	}

    .cmp_left_desc{
		float:left;
		margin-top: 12px;
		margin-left: 90px;
		padding-right: 5px;
		width: 345px;
		display: inline;
	}

	.catalogue_list{
		position: absolute;
		margin-left: 400px;
		margin-top: -34px;
		width: 295px;
		height: 30px;
		background-image: url('../images/catalogue_select.gif');
	}

	div.catalogue_on{
	z-index: 50;
	position: absolute;
	width: 181px;
	height: 20px;
	margin-top: 5px;
	margin-left: 104px;
	cursor: pointer;
	}

	div.catalogue_area{
	z-index: 100;
	position: absolute;
	background-color: #FFFFFF;
	width: 160px;
	margin-top: 3px;
	/*display: none;*/
	border-bottom: 1px solid #c1c7ce;
	border-left: 1px solid #c1c7ce;
	border-right: 1px solid #c1c7ce;
	}

	div.catalogue_first{
	position: absolute;
	margin-top: 3px;
	margin-left: 9px;
	}

	div.catalogue_area ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	}

	div.catalogue_area li{
	margin-top: 0;
	margin-left: 8px;
	}

	div.catalogue_area a{
	color: #6f7c8c;
	text-decoration: none;
	}

	div.catalogue_area a:visited{
	color: #6f7cFF;
	text-decoration: none;
	}

 /* company end */

 .gallery_block{
	overflow:hidden;
	float: left;
	width: 172px;
	display: inline;
	height: 220px;
}
/*      galeria oceny        */
.td_star{
    width: 120px;
    padding-left: 50px;
}

.gallery_star{
	cursor: pointer;
	height: 15px;
	width: 15px;
	float: left;
	background-image: url('../images/star.jpg');
}
.gallery_star2{
	cursor: pointer;
	height: 15px;
	width: 15px;
	float: left;
	background-image: url('../images/star_filled.jpg');
}
.gallery_star_unvisible{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url('../images/star_filled.jpg');
	display: none;
}
.gallery_star_blue{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url('../images/star_blue.jpg');
}
.gallery_star2_blue{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url('../images/star_filled_blue.jpg');
}

.help{
    background-color: blue;
    color:white;
    padding: 2px 8px 2px 8px;
    margin-right: 5px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.help_info{
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    padding: 15px;
}
.table .table_row{
    background-image: url('../images/td_bg.jpg');
    background-repeat: repeat-x;
    height: 30px;
    font-size: 11px;
    color: #696969;
}

.table .table_row2{
    background-image: url('../images/td_bg2.jpg');
    background-repeat: repeat-x;
    height: 30px;
    font-size: 11px;
    color: #696969;
}

.table .table_row3{
    background-image: url('../images/td_bg3.jpg');
    background-repeat: repeat-x;
    height: 30px;
    font-size: 11px;
    color: #696969;
}

.table .table_header{
    background-image: url('../images/th_bg.jpg');
    background-repeat: repeat-x;
    font-size: 11px;
    color: #696969;
    height: 30px;
}
.table .fleft{
   border-left: 1px solid #dfdfdf;
}

.table .lright{
    border-right: 1px solid #dfdfdf;
}

.table{
    width: 954px;
    margin-left: 50px;
    margin-top: 10px;
}
.table .d_firstcell{
    width: 30px;
}
.table .d_secondcell{
    width: 200px;
}

#submit{
    text-align: center;
}

fieldset{
    font-size: 12px;
    padding: 10px;
}

.help_info{
    font-size: 11px;
}

.above{
    width: 365px;
    border: 0;
    padding: 0;
    background-color: #73a3cc;
    border: 2px solid gray;
    margin-top: -100px;
}

.comment_submit{
    background-image: url('../images/comment_submit.jpg');
    width: 87px;
    height: 36px;
    cursor: pointer;
}

.escom_user{
    font-size: 12px;
}

.escom_date{
    font-size: 11px;
    color: gray;
}
.escom_comment{
    font-size: 12px;
    margin-top: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.pages{
    text-align: center;
    margin-left: 15px;
    margin-top: -10px;
    height: 20px;
}

#pages{
    margin-left: 5px;
}

#header{
    height: 160px;
    width: 1004px;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
}

#outer_container{
    background-image: url('../images/top_bg.jpg');
    background-repeat: repeat-x;
    background-color: white;
    overflow: hidden;
}

#inner_container{
    width: 1004px;
}
#header_text{
    font-size: 12px;
    color: #797070;
    float: right;
}

#header_text a{
    color: #797070;
}

#header_text a:hover{
    color: #797070;
    text-decoration: none;
}

fieldset{
    margin-left: 50px;
    margin-top: 40px;
}

.men_itm1{
    cursor: pointer;
    float: left;
    text-align: center;
    background-image: url('../images/menu_bg1.jpg');
    height: 26px;
    padding-top: 10px;
    width: 105px;
    color: white;
    font-size: 12px;
    margin-right: 2px;
}

.men_itm1_b{
    cursor: pointer;
    float: left;
    text-align: center;
    background-image: url('../images/menu_bg2.jpg');
    height: 26px;
    padding-top: 10px;
    width: 105px;
    color: white;
    font-size: 12px;
    margin-right: 2px;
}

.men_itm2{
    cursor: pointer;
    float: left;
    text-align: center;
    background-image: url('../images/menu_bg1.jpg');
    height: 34px;
    padding-top: 2px;
    width: 105px;
    color: white;
    font-size: 12px;
    margin-right: 2px;
}

.men_itm2_b{
    cursor: pointer;
    float: left;
    text-align: center;
    background-image: url('../images/menu_bg2.jpg');
    height: 34px;
    padding-top: 2px;
    width: 105px;
    color: white;
    font-size: 12px;
    margin-right: 2px;
}

#foot{
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    height: 113px;
    width: 1920px;
    margin-top: 40px;
}


body{
    background-color: #d8d4d3;
}

.link{
    color: rgb(0, 113, 206);
    font-weight: bold;
    text-decoration: none;
}

.rlink{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.glink{
    color: green;
    font-weight: bold;
    text-decoration: none;
}
.table td, .table th{
    padding-bottom: 0px;
    padding-top: 0px;

}

.settings_error_message{
    color: red;
    font-size: 11px;
    margin-left: 10px;
}

p.trigger {
	margin: 0;
	padding: 0;
	font-weight: normal;
	float: right;
}
p.trigger a {
	margin: 0;
	padding: 0;
	color: #0071CE;
	text-decoration: none;
	display: block;
}
p.trigger a:hover { color: #0071CE; }

.toggle_container {
	margin: 25px 5px 5px 5px;
	overflow: hidden;
	clear: both;
}
.toggle_container .block {
	margin: 0;
	padding: 0;
}

.block form {
	float: left;
}

.block span {
	font-weight: bold;
}

.block p {
	margin: 2px;
}

.komunikaty {
	color: red;
}

.info {
	float: right;
	margin-left: 5px;
}

p.shoutbox {
	color: green;
}

p.shoutbox span {
	font-weight: bold;
}
